<div class="container">
    <div class="app-header">
        <app-header
            [section]="name"
            [fragment]="'/'+package+'/'+app"
            [i18n]="translationsMenuTop"
            [items]="topMenuItems"
            (toggleMenu)="toggleSideMenu()"
            (toggleBar)="toggleSideBar()"
            (select)="onSelectItem($event)">
        </app-header>
    </div>
    <div *ngIf="notifications.length && show_notifications" class="app-notif" [class.visible]="notifications.length && show_notifications">
        <div class="notifications">
            <div *ngFor="let item of notifications" class="notification" [title]="item.message">
                <strong>{{item.title}}</strong> - {{item.message}}
            </div>
        </div>
        <div style="margin-left: auto; margin-right: 25px;">
            <button mat-icon-button (click)="show_notifications = false"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <div class="app-body" [class.menu-minified]="!show_side_bar">

        <div class="app-sidebar">
            <!-- app-sidebar -->
            <div class="side-inner">
                <div *ngIf="show_search_side_menu" class="search-menu">
                    <input
                        matInput
                        placeholder="Search in menu"
                        autocomplete="off"
                        [(ngModel)]="filter"
                        (keyup)="onchangeFilter()">
                    <button mat-icon-button *ngIf="filter?.length" style="position: absolute; right: 5px"  (click)="filter=''; onchangeFilter()"><mat-icon>close</mat-icon></button>
                    <mat-icon *ngIf="!filter?.length" style="position: absolute; right: 5px">search</mat-icon>
               </div>
                <mat-nav-list>
                    <app-menu-list-item *ngFor="let item of navMenuItems"
                        [i18n]="translationsMenuLeft"
                        [class.hidden]="item.hidden"
                        [item]="item"
                        (select)="onSelectItem($event)"
                        (toggle)="onToggleItem($event)"></app-menu-list-item>
                </mat-nav-list>
            </div>
        </div>

        <div class="app-main">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>

        <div class="app-asidemenu" [class.show]="show_side_menu">
            <app-sidemenu (updated)="onUpdateSideMenu($event)"></app-sidemenu>
        </div>

    </div>
</div>